:root {
  --pr--color: #00ce7b;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f3fff4;
}

/* navbar style */
.navbar {
  z-index: 3;
}

* {
  z-index: 2;
}

.navbar-brand {
  font-weight: 700;
  font-size: 20px;
}

.nav-link {
  font-size: 16px;
}

.nav-link.active {
  font-weight: 700;
}

.button-secondary {
  width: 133px;
  height: 40px;
  background-color: white;
  color: var(--pr--color);
  border: none;
  font-size: 16px;
  font-weight: 700;
}

.button-primary {
  width: 133px;
  height: 40px;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 400;
}

/* hero section */
#hero {
  background: linear-gradient(160deg, var(--pr--color), #000);
  height: 100vh;
  width: 100%;
}

.img-hero {
  height: 70%;
  z-index: 1;
}

.hero-tagline h1 {
  color: white;
  font-weight: 700;
  font-size: 50px;
  line-height: 72px;
}

.hero-tagline p {
  font-size: 16px;
  color: white;
  margin-bottom: 60px;
  margin-top: 20px;
  line-height: 30px;
  width: 70%;
}

.button-lg-primary {
  width: 270px;
  height: 70px;
  background-color: white;
  color: var(--pr--color);
  border: none;
  font-size: 16px;
  font-weight: 700;
}

/* layanan section */
#layanan {
  padding: 100px 0;
}

h2 {
  font-size: 48px;
  font-weight: 500;
  color: var(--pr--color);
}

.sub-title {
  font-size: 18px;
  color: #000;
}

.card-layanan {
  width: 100%;
  height: 313px;
  border-radius: 5px;
  background-color: white;
  padding: 40px;
  box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.05);

  transition: all 0.2s ease-in;
}

.circle-icon {
  width: 70px;
  height: 70px;
  background-color: var(--pr--color);
  border-radius: 50%;

  transition: all 0.2s ease-in;
}

.card-layanan h3 {
  color: var(--pr--color);
  font-size: 24px;

  transition: all 0.2s ease-in;
}

.card-layanan p {
  color: black;
  font-size: 14px;

  transition: all 0.2s ease-in;
}

/* Hover */
.card-layanan:hover {
  width: 100%;
  height: 313px;
  border-radius: 5px;
  background: linear-gradient(160deg, var(--pr--color), #000);
  padding: 40px;
  box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.05);

  transition: all 0.2s ease-in;
}

.card-layanan:hover .circle-icon {
  background-color: white;
  transition: all 0.2s ease-in;
}

.card-layanan:hover h3 {
  color: white;
  font-size: 24px;

  transition: all 0.2s ease-in;
}

.card-layanan:hover p {
  color: white;
  font-size: 14px;

  transition: all 0.2s ease-in;
}
